ul{
	list-style: none;
	margin:0;
	padding:0;
}

li{
	float:right;
	margin:8px;
	padding:2px;
}

a{
	display:inline-block;
	background-color:transparent;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
	color:#404040;
}
a:hover{
	text-decoration:underline;
}

#container img{
	padding-top:112px;
	height:95px;
	width:269px;
	display:block;
	text-align:center;
}

#container {
	margin-right:auto;
	margin-left:auto;
	display:block;
}
.navbar{
	padding-top:12px;
	margin-bottom:20px;
	height:30px;
}
#profile{
	border-radius:100%;
	margin-top:-5px;
}
#options{
	height:16px;
	width:16px;
	opacity:0.5;
}
#options:hover{
	opacity:1;
}
#notifications{
	width:20px;
	opacity:0.5;
	padding-left:3px;
}
#notifications:hover{
	opacity:1;
}
#google_plus {
	 opacity:0.5;
	}
#google_plus:hover{
	opacity:1;
}
#searchbar {
	display:block;
	margin: 0 auto 0 auto;
	width:530px;
	height:17px;
	padding:5px 10px;
	border:1px solid #dcdcdc;
}
.footer{
	position:fixed;
	bottom:0;
	left:0;
	display:block;
	height:40px;
	width:100%;
	border-top:1px solid #dcdcdc;
	background-color:#f1f1f1;
	font-family:Arial, Sans-serif;
	font-size:small;
}
#left {
	float:left;
	margin-left:25px;
}
#right{
	float:right;
	margin-right:25px;
}
button {
	display:inline-block;
	height:30px;
	margin:6px 5px 11px 0px;
	min-width:59px;
	border:1px solid #bababa;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border-radius:2px;
	font-family:Arial, Sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #444
}
button:hover{
	border:2px solid #bababa;
}
form{
	margin-right:40px;
	display:inline-block;
}
.search {
	display:block;
	margin-bottom:15px;
	width:570px;
	height:29px;
}